:root {
    --default-ff: "Roboto", sans-serif;
    --logo-ff: "Norse", sans-serif;

    --font-text-body: clamp(1rem, 0.53rem + 1.566vw, 1.5rem);
    --font-text-label: 0.875rem;
    --font-text-default: 1rem;
    --font-text-error: 0.75rem;
    --font-text-button: 1.125rem;
    --font-text-h1: 1.5rem;
    --font-text-logo: 6rem;

    --error: #b91c1c;
    --outline: #1d4ed8;
    --matcha: #596d48;
    --neutral-100: #ffffff;
    --neutral-200: #e5e7eb;
    --neutral-300: #1f2937;
    --neutral-400: #181818;
}

@font-face {
    font-family: Norse;
    src: url("./assets/fonts/Norse/Norse-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    font-family: var(--default-ff);
    color: var(--neutral-400);
    background-color: var(--neutral-100);
}

.img-container-left {
    padding-top: 6.5rem;
    height: 376px;
    width: 100%;
    color: var(--neutral-100);
    background-image: url("./assets/images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position-y: bottom;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    background-color: rgba(24, 24, 24, 0.6);
}

.logo__img {
    max-width: 6rem;
}

.logo__text {
    font-family: var(--logo-ff);
    font-size: var(--font-text-logo);
}

.content-container-right {
    padding-inline: 1.5rem;
}

.text-container {
    padding-block: 2.5rem;
    max-width: 42rem;
    font-size: var(--font-text-body);
}

.text-container p:last-child {
    margin-top: 1.5rem;
    font-weight: 700;
}

#create-account {
    padding-block: 2.25rem;
    max-width: 37.25rem;
}

#create-account .input-field {
    display: grid;
    gap: 1.5rem;
}

#create-account h1 {
    font-size: var(--font-text-h1);
    font-weight: 700;
}

#create-account h1,
#create-account label {
    color: var(--neutral-300);
}

.input-container label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-container input {
    display: block;
    padding: 0.75rem;
    width: 100%;
    border: 2px solid var(--neutral-200);
    border-radius: 5px;
    outline: none;
    transition: border-color 300ms;
}

.input-container input:focus {
    border-color: var(--outline);
}

.input-container.invalid input {
    border-color: var(--error);
}

/* Chrome, Safari, Edge, Opera */
.input-container input::-webkit-outer-spin-button,
.input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-container input[type="number"] {
    -moz-appearance: textfield;
}

.input-container span {
    display: none;
    font-size: var(--font-text-error);
    color: var(--error);
}

.input-container.invalid span {
    display: block;
}

button {
    padding-block: 1.125rem;
    width: 100%;
    font-size: var(--font-text-button);
    font-weight: 700;
    color: var(--neutral-100);
    background-color: var(--matcha);
    border: 2px solid var(--matcha);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: color 300ms ease, background-color 300ms ease;
}

button:hover {
    color: var(--matcha);
    background-color: transparent;
}

#create-account #submit-btn {
    margin-block: 1.75rem;
}

#create-account p {
    text-align: center;
    color: var(--neutral-300);
}

#create-account p a {
    font-weight: 700;
    text-decoration: none;
    color: var(--matcha);
}

@media only screen and (min-width: 768px) {
    .h-wrapper {
        display: flex;
    }

    .h-wrapper > * {
        flex: 1;
    }

    .img-container-left {
        position: sticky;
        top: 0;
        width: 31.75rem;
        padding-top: 10rem;
        height: 100vh;
    }

    .content-container-right {
        padding-inline: 3rem;
        overflow-y: auto;
    }

    .text-container {
        margin-top: 4rem;
        padding-block: 3rem;
    }

    #create-account .input-field {
        grid-template-columns: repeat(2, 1fr);
    }
}
